<div id="title_bar">
	<h1>All Comments</h1>
</div>

<!-- Use rails convention for collection partials -->

<ul class="index">
	<%= render :partial => resources %>
</ul>

<%= will_paginate resources, :class => 'flickr_pagination' %>

<% content_for :secondary do %>
	<div class="section">
		<h3>Latest comments</h3>
		<ul class="comments_list clearfix">
			<%= render :partial => Comment.recent(5) %>
		</ul>
		<%= link_to 'See all comments', admin_comments_path %>
	</div>
<% end %>