// main reset
body,form,ul,ol,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6
  :padding 0
  :margin 0
  
// general
ul,ol
  :margin-left 1.5em

p
  :margin-bottom 1.8em
  
html,body,div,p
  :font-family "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
  :font-weight normal
  :color #333333
  
body
  :font-size 62.5%
  :text-align center
  :background #eee
  
// forms
input,select,textarea
  :font-family "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
  :font-weight normal
  :color #222222

// layout 
.main_width
  :width 960px
  :margin 0 auto
  :text-align left
  
// horizontal lists
.menu
  :margin-left 0
  :list-style-type none
  li
    :display inline-block
    :vertical-align top
    :margin-right 1em
    
// header    
#header a
  :color #eee
  &:hover
    :color #fff
    
#main a
  :color #194183
  &:hover
    :color #fff
    :background-color #194183
    :text-decoration none

#main a.current
  :color #fff
  :text-decoration none
  :background-color black

// header
#logo
  :font-size 2em
  a
    :text-decoration none

// nav
#nav
  :margin-top 10px
  a
    :text-decoration none
    :font-size 1.5em
    :display block
    :background #666
    :padding .25em 1em
    &:hover
      :background #999
  li.current
    a
      :background #eee
      :color #000
      
// neader   
#header
  :background #333
  :margin-bottom 2em
  .main_width
    :padding-top 10px

// sections (margins)
.section
  :margin-bottom 2em
  
// columns
.column
  :float left
  
.column_right
  :float right

#main
  :position relative
  
// primary content area
#primary
  :background #fff
  :border solid silver 8px
  :margin-right 230px
  :min-height 300px
  .section
    :margin
      :left 2em
      :right 2em
      
// secondary (sidebar)
#secondary
  :position absolute
  :top 0
  :right 0
  :width 230px
  .section
    :margin
      :left 20px
  h3
    :margin-left 20px
    :font-size 1.5em

// filters on the sidebar
.content_filters
  :list-style-type none
  :margin-left 0
  :font-size 1.2em
  :margin-bottom 20px
  li
    :padding .5em 0 .5em 20px
  a
    :width 10em
    :text-align left
    :padding-left .5em
    :text-decoration none

// centered link list. see sort options
.link_list
  :text-align center
  :padding .25em
  :border solid silver 1px
  :border-width 1px 0
  
#main a.publish_status
  :color #fff
    
#main .content_filters .current
  :background-color silver
      
// index of models
ul.index
  :list-style-type none
  :margin-left 0

// title bar with options
.title_bar
  :padding 5px 18px
  :background #eee
  :margin 2px
    
.title_options
  li
    :margin-right .25em
    a
      :text-decoration none
  
// single listing in a list
.listing
  :position relative
  :margin-bottom 1em
  :min-height 80px
  .publish_status
    :font-size 10px
    :margin-right .5em
  .media
    :position absolute
    :top 0
    :left 0
  p
    :margin-bottom .5em
  .meta, .publish_info
    :margin-bottom 0
    :color gray
  .detail
    :margin-left 90px
  h4
    :font-size 1.5em
    :margin-bottom .25em

// link with image
.thumb
  img
    :padding 2px
    :border solid silver 1px
  &:hover
    :background-color #fff
    img
      :border-color gray
      :background-color #fff

// publish status for models   
.publish_status
  :display inline-block
  :padding .25em 0
  :width 6em
  :text-align center
  :color #fff

.status_all
  :background gray
.status_published
  :background green
.status_draft
  :background orange
.status_upcoming
  :background pink
.status_expired
  :background red
  
p.meta
  :margin 0

// pagination
.pager
  :text-align center
  :font-size 1.5em
  a,span
    :display inline-block
    :margin-right .25em
    :padding .25em
    :border solid silver 1px
    :text-decoration none
  .current
    :color #fff
    :background gray
    :border-color gray
  
// hacks
.clearfix:after
  :content "."
  :display block
  :clear both
  :visibility hidden
  :line-height 0
  :height 0

.clearfix 
  :display inline-block

html[xmlns] .clearfix 
  :display block


* html .clearfix 
  :height 1%

.clearfix 
  :display inline-block

.clearfix 
  :display block
