<h3>Search <%= controller_name.humanize %></h3>
<div class="section">
<% form_tag params, :method => :get do %>
<input type="text" name="q" value="<%= params[:q] %>" />
<% end %>
</div>

<h3>Filters</h3>

<ul class="content_filters">
<%= publish_status_links(resource_service, enclosing_resource) %>
</ul><!-- /filters -->